<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- доступ к сети -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- доступ к фоткам (API ≤33 / 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:name=".App"
        android:icon="@mipmap/music_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">

        <!-- 1. WelcomeActivity — теперь главный лаунчер -->
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2. LoginActivity — обычная активити -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <!-- 3. MainActivity с deep-link -->
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <!-- deep-link вида: musicrental://paid?id=11 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="musicrental"
                    android:host="paid"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
